include scriptedforms/lib/*.js
include scriptedforms/index.html
include LICENSE Apache-2.0

include scriptedforms/LICENSE
include scriptedforms/Apache-2.0
include scriptedforms/package.json
include scriptedforms/tsconfig.json
include scriptedforms/webpack.config.js
include scriptedforms/yarn.lock

recursive-include scriptedforms/src *.ts *.css *.scss *.svg
