
<span #variablecontainer *ngIf="variableName === undefined">
  <ng-content></ng-content>
</span>

<div class="container mat-elevation-z8 avoid-page-break">
  <mat-table #table [dataSource]="dataSource" *ngIf="variableValue">
    <ng-container [matColumnDef]="column" *ngFor="let column of columnDefs; let i = index">
      <mat-header-cell *matHeaderCellDef>
        {{column}}
        <mat-select *ngIf="column != variableValue.schema.primaryKey" [(ngModel)]="types[i]" (ngModelChange)="typesChanged()">
          <mat-option *ngFor="let type of availableTypes" [value]="type">
            {{type}}
          </mat-option>
        </mat-select>
      </mat-header-cell>
      <mat-cell *matCellDef="let row; let j = index">
        <span *ngIf="column == variableValue.schema.primaryKey || isOutput">
          {{row[column]}}
        </span>
        <span *ngIf="column != variableValue.schema.primaryKey && !isOutput">
          <mat-input-container *ngIf="types[i] !== 'boolean'">
            <input
            [required]="required"
            matInput
            (blur)="onBlur([j, column])"
            (focus)="onFocus([j, column])"
            [disabled]="!isFormReady"
            [(ngModel)]="row[column]"
            (keyup)="dataChanged()"
            type="string">
          </mat-input-container>
          <mat-checkbox *ngIf="types[i] === 'boolean'" class="no-ripple-height"
            [(ngModel)]="row[column]"
            [disabled]="!isFormReady"
            (ngModelChange)="dataChanged()">
          </mat-checkbox>
        </span>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnDefs"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnDefs;"></mat-row>
  </mat-table>
</div>
