<span #variablecontainer *ngIf="variableName === undefined"><ng-content></ng-content></span>

<md-input-container *ngIf="variableName">
    <input 
        *ngIf="inputType=='string'" 
        mdInput 
        [disabled]="!isFormReady" 
        [placeholder]="variableName" 
        [(ngModel)]="variableValue" 
        (ngModelChange)="variableChanged($event)"
        type="text">

    <input 
        *ngIf="inputType=='number'" 
        mdInput 
        [disabled]="!isFormReady" 
        [placeholder]="variableName" 
        [(ngModel)]="variableValue" 
        (ngModelChange)="variableChanged($event)"
        type="number">
</md-input-container>