<span #variablecontainer *ngIf="variableName === undefined"><ng-content></ng-content></span>

<md-input-container *ngIf="variableName">
    <input
        *ngIf="inputType=='string'"
        mdInput
        [disabled]="!isFormReady"
        [placeholder]="variableName"
        [(ngModel)]="variableValue"
        (ngModelChange)="variableChanged($event)"
        type="text" class="variableString">

    <input
        *ngIf="inputType=='number'"
        mdInput
        [disabled]="!isFormReady"
        [placeholder]="variableName"
        [(ngModel)]="variableValue"
        (ngModelChange)="variableChanged($event)"
        type="number" class="variableNumber">
</md-input-container>
