div.editor-wrapper {
  position: absolute;
  left: 0;
  bottom: 0px;
  right: 50%;
  line-height: 120%;
  font-family: monospace;
  overflow: scroll;
}

div.view-wrapper {
  position: absolute;
  left: 50%;
  bottom: 0px;
  right: 0;
  overflow: scroll;
}

div.view {
  margin: 20px;
}

div.content {
  top: 0px;
}
